body {
  font-family: Arial, sans-serif;
  background-color: #180f0f;
}
header {
  text-align: center;
  padding: 20px;
}


ul {
    text-align: left;
    font-style: italic;
    color: white;
}

header h1{
    color: rgb(19, 69, 139);
   
}
h2{
    color: rgb(31, 213, 34);

}
title{
    color: rgb(225, 213, 213);
}


