body {
  font-family: Arial, sans-serif;
  background-color: #180f0f;
}
header {
  text-align: center;
  padding: 20px;
}
p { 
  color: rgb(159, 32, 32);
  margin: 30px;
  border: 5px solid rgb(61, 35, 154);
  padding: 20px;
  font-size: 25px;
}  


p {
  width: 300px;
  height: 10px;
  background: rgb(16, 45, 55);
}
li {
  display:inline-block;
  padding: 10px;
  background: #333;
  color: white;
}
.navbar {
  background: #2581a5;
  color: white;
  padding: 15px;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}


ul {
    text-align: left;
    font-style: italic;
    color: white;
    font-size: 20px;
}

header h1{
    color: rgb(19, 69, 139);
   
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h2{
    color: rgb(178, 83, 20);

}
title{
    color: rgb(225, 213, 213);
}


