body {
  font-family: Arial, sans-serif;
  background-color: #180f0f;
}
header {
  text-align: center;
  padding: 20px;
}
p { 
  color: rgb(159, 32, 32);
  margin: 30px;
  border: 5px solid rgb(61, 35, 154);
  padding: 20px;
  font-size: 25px;
}

ul {
    text-align: left;
    font-style: italic;
    color: white;
    font-size: 20px;
}

header h1{
    color: rgb(19, 69, 139);
   
}
h2{
    color: rgb(154, 80, 31);

}
title{
    color: rgb(225, 213, 213);
}


